
:root {
    --success-color: green;
    --error-color: red;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.3);
    background-color: #fff;
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-ctrl {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-ctrl label {
    color: #777;
    display: block;
    margin-bottom: 5 px;
}

.form-ctrl input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-ctrl input:focus {
    outline: 0;
    border-color: #777;
}

.form-ctrl.success input {
    border-color: var(--success-color);
}

.form-ctrl.error input {
    border-color: var(--error-color);
}

.form-ctrl small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left:0;
    visibility: hidden;
    text-align: center;
}

.form-ctrl.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: rgb(14, 156, 204);
    border: 2px solid rgb(9, 107, 139);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}